parameters:
    database_driver: pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     analytics
    database_user:     root
    database_password: mindfire
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    secret:            ec5f9fb7097b27194067bca41f63d1c9d9522d08
    consumer_api_host: api.mcmakler.com
    locale: en
    allowed_ips_during_maintenance: 127.0.0.1
    api_key: N7LkblDsc5aen05FJqBQ8wU4qSdmsftwJagVK7UD
    neo_fetch_url: https://api.nasa.gov/neo/rest/v1/feed
